<label><input type='checkbox' /> dryzuoti</label>
<label><input type='checkbox' /> taskuoti</label>
<label><input type='checkbox' /> nauji</label>
<label>Dydis:
    <select>
        <option value='2'>X</option>
        <option value='3'>XS</option>
        <option value='4'>M</option>
        <option value='5'>L</option>
        <option value='6'>XL</option>
        <option value='7'>XXL</option>
    </select>
</label>
<script>
    insert.maxImages = 5;
</script>
