@charset "utf-8";

@import "main.scss";
/***************MAIN INFO**********************************************************************************************/
#map{
    width:100vw;
    height:100vh;
}

#container{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    pointer-events: none;
}

#resultsContainer, #filterContainer{
    background-color: rgba(67, 67, 67, 0.2);
    height:100vh;
    transition:0.3s background-color;
}

#resultsContainer:hover, #filterContainer:hover{
    background-color: rgba(67, 67, 67, 0.8);
}
/***************MAIN INFO**********************************************************************************************/
/***************COOKIES************************************************************************************************/
#cookieAgreementContainer{
    background-color:black;
    min-height:50px;
    position:relative;
    overflow:hidden;
    padding-left:15px;
    flex-direction: column;
    justify-content: center;
}

    #cookieAgreementContainer > span{
        color:white;
        padding-right:200px;
    }

        #cookieAgreementContainer > span > a{
            color:rgb(231, 231, 231);
            text-decoration:underline;
            cursor:pointer;
        }

    #cookieAgreementContainer > div{
        background-color:rgb(231, 222, 50);
        padding:6px 70px;
        font-weight:bold;
        cursor:pointer;
        right:10px;
        font-size:15px;
        border-radius:3px;
    }
/***************COOKIES************************************************************************************************/
/***************INSERT*************************************************************************************************/
#insertContainer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(67, 67, 67, 0.4);
    display: none;
    overflow-y: auto;
}

    #insertContainer > div{
        background-color:white;
        min-height:100%;
    }

        #insertLocationMap{
            width:400px;
            height:400px;
            margin:10px;
        }
        #insertLocationMap *{
            overflow:visible;
        }

        #tempThumbnailsContainer{
            background-color:rgba(229, 229, 229, 1);
            border:1px solid grey;
        }

            #addTempImg, .tempThumb{
                border:1px solid black;
                width:141px;
                height:127px;
                overflow: hidden;
                margin:20px;
                display:inline-block;
                cursor:pointer;
                position:relative;
            }

                .tempThumb > img{
                    object-fit: cover;
                    width:141px;
                    height:127px;
                }

                .tempThumb > span{
                    position:absolute;
                    top:10px;
                    right:10px;
                    background-color:white;
                    border-radius:15px;
                    padding:5px;
                }
/***************INSERT*************************************************************************************************/
/***************TOPIC SELECTION****************************************************************************************/
#topicSelectionContainer{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:5000;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

    #topicSelectionContainer > div{
        background-color:white;
        border:2px solid black;
    }
/***************TOPIC SELECTION****************************************************************************************/
/***************NATIVE IMAGE SIZE CONTAINER****************************************************************************/
#nativeSizeImageContainer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.90);
    z-index:9000;
    justify-content: center;
    align-items: center;
    display:none;
}
/***************NATIVE IMAGE SIZE CONTAINER****************************************************************************/
/***************CLASSES************************************************************************************************/
.centerToRelativeParent{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.clickable{
    pointer-events: auto;
}
/***************CLASSES************************************************************************************************/
