.noPadding{
    padding:0 !important;
}

.border-box{
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

.hidden{
    display:none !important;
}

.width100{
    width:100% !important;
}

.displayBlock{
    display:block !important;
}