@import "main.scss";

/**********************************************************************************************************************/
/*NAVIGATION CONTROL***************************************************************************************************/
/**********************************************************************************************************************/
#navigationList{
    border-right:1px solid rgba(0, 0, 0, 0.60);
    min-height:100vh;
    padding-bottom:50px;
}

.navigationLink{
    padding:10px 5px;
    cursor:pointer;
    position:relative;
    transition:background-color 0.2s;
    height:40px;
    background-color:white;
}

.navigationLink:hover{
    background-color: rgb(128, 190, 255);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.selectedNavLink{
    background-color: rgb(57, 164, 255);
}

.selectedMoveLink{
    border:2px dashed rgba(255, 241, 146, 1);
}

    .navigationLink > i{
        position:absolute;
        top:11px;
        border-radius:5px;
        border:1px solid rgba(0, 0, 0, 0.60);
        padding:1px;
    }

    .moveNavLink{
        right:20px;
        cursor:all-scroll;
        background-color:#e8e8e8;
    }

    .editNavLink{
        right:40px;
        cursor:pointer;
        background-color: #75c4e8;
    }

    .removeNavLink{
        right:60px;
        cursor:pointer;
        background-color: #e8333b;
    }

    .navigationLink > input{
        position:absolute;
        right:5px;
        top:10px;
    }

.expandableNavList{
    padding-left:20px;
    display:none;
    overflow: hidden;
    background-color:black;
}
/**********************************************************************************************************************/
/*HEADER***************************************************************************************************************/
/**********************************************************************************************************************/
header{
    height:60px;
    border-bottom:1px solid rgba(0, 0, 0, 0.60);
    position:relative;
}

    header > h2{
        margin:0;
        padding:10px 8px;
    }

    header > button{
        position:absolute;
        right:10px;
        top:10px;
    }
/**********************************************************************************************************************/
/*FIELDS***************************************************************************************************************/
/**********************************************************************************************************************/
#mainContentContainer{
    padding:20px 20px 70px 20px;
}

    #mainContentContainer > form{
        margin-top:25px !important;
    }

    #insertListFieldForm, #insertDoubleListFieldForm, #insertNumberFieldForm, #insertDateFieldForm{
        display:none;
    }
/**********************************************************************************************************************/
/*FOOTER***************************************************************************************************************/
/**********************************************************************************************************************/
footer{
    height:70px;
    position:fixed;
    bottom:0;
    width:100vw;
    background-color: rgb(159, 159, 159);
}

    footer > div{
        height:100%;
    }

        #navigationFooter{
            height:100%;
            border-right:1px solid rgba(0, 0, 0, 0.60);
        }

        #contentFooter{
            padding:10px;
        }
/**********************************************************************************************************************/
/*LISTS****************************************************************************************************************/
/**********************************************************************************************************************/
#listsContainer{
    position:fixed;
    top:0;
    left:0;
    z-index: 5000;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    display:none;
}

    #listsContainer > div{
        background-color:white;
        height:100%;
        overflow-y: auto;
    }

        #listElems, #doubleListElems{
            display:none;
        }

                #listElems > div > a, #listsDiv > div > a{
                    cursor:pointer;
                }

                    #listsDiv > div > a > i, #listElems > div > a > i, #doubleListElems > div > a > i{
                        border:1px solid rgba(139, 139, 139, 0.4);
                        background-color: rgba(101, 153, 255, 0.4);
                        border-radius:5px;
                        padding:2px;
                        cursor:pointer;
                    }
/**********************************************************************************************************************/
/*LANGUAGES************************************************************************************************************/
/**********************************************************************************************************************/
#languagesContainer{
    position:fixed;
    top:0;
    left:0;
    z-index: 5000;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    display:none;
}

        #languagesDiv{
            background-color:white;
            height:100vh;
            overflow-y: auto;
        }
/**********************************************************************************************************************/
/*LOADER***************************************************************************************************************/
/**********************************************************************************************************************/
#loaderMain{
    display:none;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:9999;
}
